<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932685931691-8c554qadq75s8sj3pi0b12f086ki56qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932685931691-8c554qadq75s8sj3pi0b12f086ki56qg</string>
	<key>API_KEY</key>
	<string>AIzaSyBgbI35IEn-c7_AfpzLAdKbWaqc0tPXdh4</string>
	<key>GCM_SENDER_ID</key>
	<string>932685931691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-afb81</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-afb81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932685931691:ios:a135e0a778a944b36e03ee</string>
</dict>
</plist>